/*
One valid, error-free CSS file with your original code; and one file containing the CSS reset code you used. Both linked from the head of all three HTML files
Apply at least five of the same style elements to each of your pages. Example removing the list-style from navigation on all three pages with a single CSS deceleration.
Apply at least five different style elements to each of your pages.
Centered horizontal-navigation. At the top of and identical on every page.
Use one imported font style and one browser native font style.
Six screen capture images of successful validation. One HTML and one CSS validation for each website page. Use the live link to validate. (-50% if it doesn't validate)
You must use relative units (em, rem, vm, %) in your CSS to make your pages fluid. You may use px units to put a maximum size or within content areas.
Create at least one fluid layout page using relative units (em, rem, vm, %) and one fixed width layout page.
A subjective grade will be applied to websites that are not cative and just apply the minimum required style.
*/
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
#main-navbar {
	background-color: purple;
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 1;
  top:0;
}
#navbar-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  display: block;
  position: relative;
  right: 50%;
  float: left;
}
#main-navbar ul li a {
  display: block;
  position: relative;
  float: left;
  color: #fff;
  text-decoration: none;
  padding: 8px;
  text-align: center;
}
#main-navbar ul a li:hover {
  font-weight: bold;
  background-color: #222;
}
#here {
  background-color: #444;
}
#pages {
  width: 100%;
  padding: 0;
}
#pages .page {
  float: left;
  padding: 8px;
  margin: 0.8em;
  display: block;
  width: 24vw;
  min-width: 12em;
  max-width: 20em;
  height: 30vw;
  min-height: 15em;
  max-height: 25em;
  box-shadow: 2px 2px 2px 4px #222;
  background-color: lightgoldenrodyellow;
  color:black;
  font-family: 'Courier New', Courier, monospace;
  transition: transform .3s;
}
#pages .page:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 4px 4px #222;
}
#meimg {
  float: right;
  position: relative;
  margin: 12px;
  padding: 0;
  border-radius: 50%;
  transition: transform .3s;
}
#meimg:hover {
  transform: rotate(4deg);
}
#readable-width {
  max-width: 800px;
  margin: auto;
  justify-content: center;
}
.tribe {
  position:relative;
	margin: auto;
  padding: 8px;
	border:4px solid;
  border-image: linear-gradient(to bottom, forestgreen, saddlebrown) 1;
	background-color: #333;
}
.norseimg {
  margin: auto;
  text-align: center;
  display: inline-block;
}
#resume {
  width: 800px;
  text-align: left;
  margin: auto;
  padding: 0;
}
#resume h2 {
  color: lightsalmon;
}
#contact {
  position:sticky;
	margin: 0;
  padding: 0;
  text-align: center;
	background-color: lightsalmon;
  color:black
}
.activity {
  font-weight: bold;
}
.date {
  position: absolute;
  display: block;
  right: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #444;
  color: blanchedalmond;
  margin-top: 40px;
}
body a {
  color: inherit;
}
body a:hover {
  background-color: #999;
}
h1 {
	margin: 12px 0px 12px 0px;
	padding:0px;
	font:40px Philosopher;
	font-weight:900;
}
h2 {
	margin: 4px 0px 4px 0px;
	padding:0px;
	font:24px Philosopher;
	font-weight:700;
}
#return {
  background-color: purple;
  text-align: center;
}
#return a {
  color: #fff;
  text-decoration: none;
}